# Neighborhoods in Toronto

### *Week 3 Assignment for IBM Coursera Applied Data Science Capstone*


### 1.  Bring in data from Wikipedia and clean

In [89]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

# Use BeautifulSoup to parse html and find table of interest
link = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
source = requests.get(link).text
soup = BeautifulSoup(source, 'lxml')
match = soup.find('table', class_='wikitable')

# convert html to dataframe
df = pd.read_html(str(match), header=0)[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [90]:
# initial shape before any cleaning
df.shape

(289, 3)

In [91]:
# drop records where borough is not assigned
df = df[df.Borough != 'Not assigned']
df.shape

(212, 3)

In [99]:
# group by postal codes and combine neighborhoods
df = df.groupby(['Postcode', 'Borough']).Neighbourhood.agg([('Neighbourhood', ', '.join)]).reset_index()
df.shape

(103, 3)

In [117]:
# assign Neighbourhood value to Borough if Neighbouhood is not assigned (such as Queen's Park)
df.loc[df.Neighbourhood == 'Not assigned', 'Neighbourhood'] = df.loc[df.Neighbourhood == 'Not assigned', 'Borough']
df.loc[df.Neighbourhood == 'Queen\'s Park']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

In [119]:
# final shape after cleaning
df.shape

(103, 3)